*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    color: rgb(0, 88, 47);
}

img{
    width: 100px;
    height: 100px;
}

header{
    position: relative;
    display: flex;
    align-content: baseline;
    background-color: rgba(212, 255, 231, 0.795);
    padding: 10px 0;
    text-align: center;
    height: 100px;
    color: red;
}

header .menu{
    position: absolute;
    align-items: center;
    display: flex;
    right: 0;
    top: 50%;
    list-style: none;
}

header .social{
    position: absolute;
    align-items: center;
    display: flex;
    right: 0;
    top: 10%;
    list-style: none;
    z-index: 4;
}

header nav a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-size: 1.5rem;
}
header nav a:hover{
    background-color: rgb(2, 153, 115);
}
.logo{
    bottom: -20px;
    left: 50%;
    width: 50px;
    height: 100px;
}
.redes{
    width: 35px;
    height: 35px;
}
main{
    height: 110vh;
    display: flex;
}
.modal{
position: fixed;
left: 30%;
top: 200px;
top: 200px;
width: 60%;
background-color: black;
color:white;
padding: 20px;
z-index: 5;
}
footer{
    background-color: red;
    width: 100%;
}