*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    color: rgb(0, 88, 47);
}
img{
    width: 100px;
    height: 100px;
}
header{
    position: relative;
    display: flex;
    align-content: baseline;
    justify-content: flex-end;
    background-color: rgba(212, 255, 231, 0.795);
    color: aquamarine;
    padding: 10px 0;
    text-align: center;
    height: 100px;
}
header ul{
    position: absolute;
    right: 15%;
    top: 0;
    list-style: none;
    display: flex;
}
header nav a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-size: 1.5rem;
}
header nav a:hover{
    background-color: rgb(2, 153, 115);
}
.logo{
    bottom: -20px;
    left: 50%;
    width: 50px;
    height: 100px;
}
.redes{
    width: 35px;
    height: 35px;
}