:root{
    --cor-texto-primario: #5f2f01;
    --cor-texto-secundario: #fda1a1;
    --cor-fundo-primario: rgb(253, 250, 244);
    --cor-fundo-secundario: #ffc760;
    --fonte-principal: arial, sans-serif;
    --espacamento: 1rem;
    --tamanho-fonte: 16px;
}